:root {
  --bg: #3d404c;
  --primary: #f2cc7f;
  --col: #f4f1cd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--col);
  font-family: 'Lato', sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(61, 64, 76, 0.8);
  border-bottom: 0.1rem solid var(--primary);
  padding: 0.8rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  color: var(--col);
  font: italic 700 1.7rem 'Ubuntu', sans-serif;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-item a {
  display: inline-block;
  color: var(--col);
  margin: 0 1rem;
  font-size: 1rem;
  transition: all .3s linear;
}

.navbar .navbar-item a:hover {
  color: var(--primary);
}

.navbar .navbar-menu a {
  color: var(--col);
  margin: 0 0.5rem;
}

.navbar .navbar-menu a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}


/* Hero image */
.hero {
  display: flex;
  align-items: center;
  background: url('../img/es-kopi.jpg') no-repeat center / cover;
  min-height: 100vh;
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(0deg, rgba(61, 64, 76, 1) 15%, rgba(255, 255, 255, 0) 60%);
  width: 100%;
  height: 30%;
}

.hero .content {
  max-width: 60rem;
  padding: 1rem 5%;
}

.hero .content h1 {
  color: var(--primary);
  font-size: 4rem;
  text-shadow: 1px 1px 3px rgba(61, 64, 76, 0.5);
}

.hero .content p {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 0.5rem;
}

.hero .content .cta {
  display: inline-block;
  background-color: var(--col);
  color: var(--bg);
  padding: 0.7rem 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  text-shadow: 1px 1px 2px rgba(242, 204, 127, 0.8);
}

.hero .content .cta:hover {
  background-color: var(--primary);
  color: var(--col);
  text-shadow: 1px 1px 2px rgba(61, 64, 76, 0.5);
}

/* About */
.about,
.menu,
.contact {
  padding: 4rem 7% 1rem;
}

.about h2,
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: center;
}

.about .row .content {
  flex: 1 1 30rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.about .row .content p {
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.3;
}

/* Menu */
.menu p {
  text-align: center;
  margin-bottom: 2.5rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 0.5rem;
}

.menu .row .menu-card .menu-card-img {
  border-radius: 50%;
  width: 50%;
}

.menu .row .menu-card .menu-card-title {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 0.7rem;
}

.menu .row .menu-card .menu-card-price {
  margin-top: 0.5rem;
  font-weight: 200;
}

/* Contact */
.contact p {
  text-align: center;
}

.contact .row {
  display: flex;
  background-color: #575b6b;
  margin-top: 2rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  border: none;
}

.contact .row form {
  flex: 1 1 45%;
  padding: 3rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  background: var(--bg);
  margin-top: 2rem;
  padding-left: 1.5rem;
  border: 1px solid var(--col);
}

.contact .row form .input-group input {
  background: none;
  border: none;
  color: var(--col);
  width: 100%;
  padding: 1.3rem;
}

.contact .row form .btn-submit {
  display: inline-block;
  background-color: var(--col);
  color: var(--bg);
  margin-top: 2rem;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--bg);
  cursor: pointer;
}

.contact .row form .btn-submit:hover {
  background-color: var(--primary);
}

/* Footer */
footer {
  background-color: var(--col);
  color: var(--bg);
  padding: 2rem 0;
  margin-top: 2rem;
  text-align: center;
}

footer h3 {
  font: italic small-caps 700 1.5rem 'Ubuntu', sans-serif;
}

footer .sosmed a {
  display: inline-block;
  color: var(--bg);
  margin: 1rem;
  font-size: 2rem;
}


footer p {
  font-size: 0.8rem;
}


/* Responsive breakpoint */
/* Laptop */
@media only screen and (max-width: 1024px) {
  html {
    font-size: 75%;
  }

  .about {
    padding-top: 5rem;
  }

  .about h2 {
    margin-bottom: 2.5rem;
  }

  .about .row .about-img img {
    height: 40rem;
  }

  .about .row .content h3 {
    font-size: 1.9rem;
  }

  .about .row .content p {
    font-size: 1.3rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

}

/* Tablet */
@media only screen and (max-width: 768px) {
  html {
    font-size: 60%;
  }

  .navbar .navbar-item {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 50%;
    height: 100vh;
    transition: all .3s linear;
  }

  .navbar .navbar-item.active {
    right: 0;
  }

  .navbar .navbar-item a {
    display: block;
    color: var(--bg);
    margin: 0 5%;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-item a:hover {
    color: var(--col);
  }

  #hamburger-menu {
    display: inline-block;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .content {
    margin-top: 1rem;
    padding: 0;
  }

  .menu .row .menu-card .menu-card-title {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .menu .row .menu-card .menu-card-price {
    font-size: 1.3rem;
  }

  .contact .row {
    flex-wrap: wrap;
    background: none;
  }

  .contact .row form {
    padding: 0;
  }

  .contact .row form .btn-submit {
    width: 50%;
  }
}

/* Phoned */
@media only screen and (max-width: 576px) {
  html {
    font-size: 55%;
  }

  .about .row .content {
    margin-top: 2.5rem;
  }

  .about .row .content p {
    font-size: 1.5rem;
  }

  .menu .row .menu-card .menu-card-img {
    width: 40%;
  }
}